# Credentials
token.json
client_secret.json
service_account.json
rejob-internal-*.json
.env

# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
octoparse_token.pickle
